package $!{cfg.entity};

import lombok.Data;
import org.ow.servicecloud.dao.base.BaseModel;

#if(${activeRecord})
import com.baomidou.mybatisplus.activerecord.Model;
#end

#if(${addTabeName})
import com.baomidou.mybatisplus.annotations.TableName;
import lombok.Data;
#end
import java.io.Serializable;
#if(${table.hasDate})
import java.util.Date;
#end

/**
 * <p>
 * ${table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${addTabeName})
@TableName("${table.name}")
#end
#if(${activeRecord})
@Data
public class ${entity} extends Model<${entity}> {
#else
@Data
public class ${entity} extends BaseModel implements Serializable {
#end

	private static final long serialVersionUID = 1L;

	#foreach($field in ${table.fields})
	/**
	 * ${field.comment}
	 */
	#if(${field.keyFlag} && ${idGenType}!="ID_WORKER")
	@TableId(type = IdType.${idGenType})
	#end
	#if($field.convert && ${field.name.toLowerCase()} != ${field.propertyName.toLowerCase()})
	@TableField(value="${field.name}")
	#end
	private ${field.propertyType} ${field.propertyName};

	#end

}
