package $!{cfg.service};

import $!{cfg.entity}.${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	
}
