<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ow.servicecloud.dao.dept.mapper.TDeptMapper">

	<resultMap id="BaseResultMap" type="org.ow.servicecloud.dao.dept.entity.TDept">
		<result column="dname" property="dname" />
		<result column="db_source" property="dbSource" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        dname, db_source
    </sql>
</mapper>
